* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1380px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  /* background-color: #F8F9FB; */
}

/* nav{
    
} */

.logo {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 23px;
    list-style: none;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

ul a {
    text-decoration: none;
    color: rgb(101, 75, 43);
    cursor: pointer;
    transition: 1s;
}

ul a:hover {
    color: blue;
}

.head-but button,
.hero-but button {
    padding: 8px 25px;
    background-color: blue;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}



.hero-but button {
    padding: 12px 30px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 100px;
}

.head-but button:hover {
    background: #2b3958;
}

.hero-but button:hover {
    background: rgb(164, 80, 80);
}

.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.hero h1 {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    text-align: center;
    color: #fff;

}

.hero p {
    max-width: 700px;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;

    font-family: "Inter", sans-serif;
}







.about{
    margin: 60px auto;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    /* margin: 40px auto; */

}

.about-text {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 25px;
    font-family: "Inter", sans-serif;

}

.one {
    padding: 20px;
    border: 2px solid #ddd;
}

.one img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.one span {
    margin-top: 15px;
    margin-top: 10px;

}

.one p,
h4,
h5 {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
}

.one p {
    font-size: 14px;
    color: blue;
}

.one h4 {
    font-size: 20px;
}

.one h5 {
    color: rgb(188, 147, 93);
}
