* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1380px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #F8F9FB; */
}

.logo {
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    gap: 23px;
    list-style: none;
    font-size: 15px;
    font-family: "Inter", sans-serif;
}

ul a {
    text-decoration: none;
    color: rgb(101, 75, 43);
    cursor: pointer;
    transition: 1s;
}

ul a:hover {
    color: blue;
}


.head-but button,
.hero-but button {
    padding: 8px 25px;
    background-color: blue;
    color: #fff;
    font-size: 17px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.hero-but button {
    padding: 12px 30px;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-top: 120px;
}

.head-but button:hover {
    background: #2b3958;
}

.hero-but button:hover {
    background: rgb(164, 80, 80);
}

.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero h1 {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: "Inter", sans-serif;
    line-height: 1.3;
    text-align: center;
    color: #fff;
}

.hero p {
    max-width: 700px;
    line-height: 1.3;
    color: #fff;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    font-family: "Inter", sans-serif;
}


.about {
    margin: 60px auto;
}

.speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    max-width: 1200px;
    /* margin: 40px auto; */
}

.about-text {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 25px;
    font-family: "Inter", sans-serif;
}

.one {
    padding: 20px;
    border: 2px solid #ddd;
}

.one img {
    width: 100%;
    display: block;
    border-radius: 15px;
}

.one span {
    margin-top: 15px;
    margin-top: 10px;
}

.one p,
h4,
h5 {
    margin-top: 10px;
    font-family: "Inter", sans-serif;
}

.one p {
    font-size: 14px;
    color: blue;
}

.one h4 {
    font-size: 20px;
}

.one h5 {
    color: rgb(188, 147, 93);
}


.cards {
    background-color: #fcfcfc;
    margin: 70px;
    border-radius: 15px;
    padding: 15px;
}

.full-card {
    font-family: "Inter", sans-serif;
    background-color: #f9f9f9;
    border-radius: 15px;
    max-width: 1050px;
    margin: 50px auto;
    align-items: center;
}

.cards h2 {
    font-family: "Inter", sans-serif;

    text-align: center;
    font-size: 48px;
}

.cards-pa {
    text-align: center;
    margin: 18px;
    color: #6e6b6b;
    font-size: 17px;
}

.all-cards {
    padding: 20px;
    display: flex;
    gap: 20px;
}

.standard,
.pro,
.team {
    width: 100%;
    display: block;
    padding: 30px;
    border: 1px solid rgb(232, 227, 227);
    border-radius: 10px;
}

.standard {
    color: #333333;
}

.pro {
    color: #fff;
    background-color: #0b151f;
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.2);
    z-index: 1;
}

.team {
    color: #333333;
    background-color: #f6f5f5;
}

.up {
    margin-bottom: 25px;
    border-bottom: .5px solid #c5c6c8;
}

.up h6 {
    color: #5d5b5b;
    font-size: 15px;
}

.pro .up h6 {
    color: blue;
}

.up h3 {
    font-size: 40px;
    font-family: "Inter", sans-serif;
}

.up p {
    font-size: 14px;
    margin-bottom: 15px;
}

.down ol li {
    font-size: 14px;
    list-style: disc;
    font-family: "Inter", sans-serif;
    line-height: 1.7;
}

.standard-but,
.pro-but,
.team-but {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    font-size: 14px;
    transition: 1s;
}

.standard-but:hover,
.team-but:hover {
    background: #0b152a;
    color: #fff;
}

.pro-but:hover {
    background: #d3d3d3;
    color: #0b151f;
}

.standard-but {
    border: 1px solid blue;
    background: none;
    color: blue;
}

.team-but {
    border: 1px solid #0D1B2A;
    background: none;
}

.pro-but {
    border: none;
    color: #fff;
    background-color: blue;
}

.faq {
    width: 80%;
    background-image: url('./assets/faq.jpg');
    /* background:#919397; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1200px;
    margin: 60px auto;
    border-radius: 15px;
    padding: 20px;
}

.faq-header {
    text-align: center;
    margin-bottom: 40px;
}

.faq-header h2 {
    font-size: 42px;
    color: #080707;
    margin-top: 15px;
    margin-bottom: 10px
}

.faq-header p {
    color: #94a3b8;
    font-size: 18px;
}

.faq-item {
    border-bottom: 1px solid #334155;
}

.faq-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    color: #100f0f;
    font-size: 18px;
    cursor: pointer;
    transition: 2s;
    width: 100%;
    padding: 24px 10px;
}

footer {
    width: 100%;
    margin: 10px auto;
    background: #000;

}

.footer-logo img {
    color: #ffffff;

}

.footer-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;

}

.footer-bottom {
    text-align: center;
    margin-top: 15px;
    color: #fbfafa;
    padding: 15px;

}

.footer-main hr {
    width: 70%;
    margin: 30px auto;
}

.footer-bottom p {
    margin-bottom: 15px;
}

.footer-icon a {
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

.divider {
    width: 80%;
    height: 1.5px;
    background: #444;
    margin: 10px auto;
}